html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  background: white;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 5vh;
  grid-column: 1 / -1;
}

.header-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 10px;
}

.aside {
  border-right: 1px solid grey;
}
.main {
  background: white;
}
